@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1818;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.nav-logo {
    max-width: 100px;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
}

.link a {
    position: relative;
    padding-bottom: 0.75rem;
    color: #fff;
}

.link a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #d83f1d;
    transition: all 0.3s ease;
}

.link a:hover::after {
    width: 70%;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #d83f1d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #8f0000;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #d83f1d;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p {
    margin-bottom: 2rem;
    color: #ccc;
}

header .image {
    position: relative;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #d83f1d;
    opacity: 0.2;
    z-index: -100;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

section .header {
    margin-bottom: 1rem;
    color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 600;
}

.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.features .card:hover {
    background-color: #323232;
    border-color: #fff;
}

.features .card span {
    display: inline-block;
    background-color: #d83f1d;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4 {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p {
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a {
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover {
    color: #d83f1d;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.pricing .card {
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover {
    background-color: #323232;
    border-color: #fff;
}

.pricing .card .content {
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4 {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3 {
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    border-bottom: 2px dashed #fff;
}

.pricing .card p {
    color: #fff;
    margin-bottom: 0.75rem;
}

.pricing .card p i {
    color: #ccc;
    font-size: 1.2rem;
    margin-right: 0.3rem;
}

.pricing .card button {
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
}

.pricing .card button:hover {
    background-color: #d83f1d;
    border-color: #d83f1d;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 2rem;
}

footer .column .logo {
    max-width: 100px;
    margin-bottom: 2rem;
}

footer .column p {
    color: #ccc;
    margin-bottom: 2rem;
}

footer .column .socials {
    display: flex;
    align-items: center;
    gap: 1rem;
}

footer .column .socials a {
    color: #ccc;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 1.25rem;
    border-radius: 100%;
    transition: all 0.3s ease;
}

footer .column .socials a:hover {
    color: #fff;
    background-color: #d83f1d;
    border-color: #d83f1d;
}

footer .column h4 {
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

footer .column > a {
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

footer .column > a:hover {
    color: #d83f1d;
}

.copyright {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
    color: #fff;
    font-size: 0.8rem;
    text-align: center;
}

@media (width < 900px) {
    .nav-links {
        display: none;
    }

    header {
        grid-template-columns: repeat(1, 1fr);
    }

    header .image {
        grid-area: 1/1/2/2;
    }

    .features {
        grid-template-columns: repeat(2, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        grid-template-columns: 1fr 200px;
    }
}

@media (width < 600px) {
    header .image::before {
        display: none;
    }

    .features {
        grid-template-columns: repeat(1, 1fr);
    }

    .pricing {
        grid-template-columns: repeat(1, 1fr);
    }

    footer {
        grid-template-columns: 1fr 150px;
    }
}

.contact {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
    color: #fff;
}

.contact header {
    margin-bottom: 2rem;
}

.contact .mapbox {
    margin-bottom: 2rem;
}

.contact .mapbox iframe {
    border: none;
    border-radius: 10px;
    background-color: #000;
    filter: grayscale(1) invert(1);
}

.contact .form-title {
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    color: #fff;
}

.contact .form {
    display: flex;
    flex-direction: column;
}

.contact .form-input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #27272a;
    color: #fff;
}

.contact .form-input::placeholder {
    color: #ccc;
}

.contact .form-btn {
    padding: 1rem 2rem;
    background-color: #d83f1d;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact .form-btn:hover {
    background-color: #8f0000;
}

.contact .input-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.contact .form-btn ion-icon {
    margin-right: 0.5rem;
}

/* Adjustments for smaller screens */
@media screen and (max-width: 600px) {
    .contact .form-input {
        margin-bottom: 1rem;
    }
}

.model {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

model-viewer {
    width: 100%;
    height: 500px;
    background-color: #27272a;
}
.countdown-container {
    position: relative;
    background-color: #323232; /* Background color resembling loading bar */
    padding: 10px;
    text-align: center;
    margin-bottom: 20px; /* Adjust as needed */
}
.countdown {
    font-size: 24px;
    margin-bottom: 20px;
    color: #d83f1d;
    text-align: center;
    padding: 20px;
}

/* Timeline styles */
.timeline-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 1rem;
    margin-top: 2rem;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem; /* Increase spacing between elements */
}

.timeline-item {
    background-color: #27272a;
    color: #fff;
    padding: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    width: 80%;
    max-width: 600px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.timeline-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.progress-bar {
    position: fixed;
    left: 50%;
    top: 0;
    width: 5px;
    background-color:#d83f1d;
    z-index: -1;
    height: 0;
    transition: height 0.3s ease;
}


@media screen and (max-width: 600px) {
    .timeline-item {
        width: 100%;
    }
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #d83f1d;
    margin: 15% auto;
    padding: 2rem;
    border: 1px solid #88888800;
    width: 80%;
    max-width: 700px;
    position: relative;
    border-radius: 20px; /* Border curve */
}

.close {
    color: #363636ea;
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000000;
    text-decoration: none;
    cursor: pointer;
}

/* Team Section */
.about {
    text-align: center;
    color: #fff;
}

.team {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}

.team-member {
    background-color: #27272a;
    padding: 1.5rem;
    border-radius: 10px;
    flex: 1;
    max-width: 23%;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.team-member .team-image {
    position: absolute;
    top: -30px;
    left: 15px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #fff;
}

.team-member .team-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.team-member h4 {
    margin-top: 60px; /* Adjust the margin-top to accommodate the image */
    font-size: 1.5rem;
    color: #d83f1d;
    margin-bottom: 0.5rem;
}

.team-member p {
    color: #ccc;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}



.team-member:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

/* Chat widget */
.chat-widget {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
}

.chat-header {
    background-color: #323232;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-body {
    background-color: #f5f5f5;
    height: 300px;
    overflow-y: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.chat-footer {
    background-color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
}

.chat-footer input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
}

.chat-footer button {
    background-color: #323232;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

.message {
    margin-bottom: 10px;
    max-width: 80%;
    display: flex;
}

.bot-message p,
.user-message p {
    padding: 10px;
    border-radius: 10px;
}

.bot-message p {
    background-color: rgb(255, 94, 0);
    color: #fff;
}

.user-message {
    justify-content: flex-end;
}

.user-message p {
    background-color: #e0e0e0;
    color: #000;
}

.chat-open {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #323232;
    color: #fff;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.chat-close {
    background: none;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

/* Add this CSS to your existing stylesheet */
.header-notification {
    background-color: #ad3c00;
    color: #000;
    padding: 10px;
    text-align: center;
    position: relative;
}

.header-notification span {
    font-weight: bold;
}

.close-btn {
    position: absolute;
    top: 5px; /* Adjust as needed */
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #000;
    border: none;
    background: none;
    padding: 0;
}



@media screen and (max-width: 900px) {
    .team-member {
        max-width: 45%;
    }
}

@media screen and (max-width: 600px) {
    .team-member {
        max-width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .timeline {
        width: 90%;
    }

    .timeline-item::before {
        left: -130px;
    }
}

@media screen and (max-width: 600px) {
    .timeline-item::before {
        left: -100px;
    }
}

/* Existing CSS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

img {
    width: 100%;
    display: flex;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1b1818;
}

nav {
    max-width: 1200px;
    margin: auto;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    position: relative;
}

.nav-logo a {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    position: relative;
    padding-bottom: 0.5rem;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-links a::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 0;
    bottom: 0;
    left: 0;
    background-color: #d83f1d;
    transition: all 0.3s ease;
}

.nav-links a:hover::after {
    width: 70%;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn {
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: #d83f1d;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #8f0000;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.blur {
    position: absolute;
    box-shadow: 0 0 1000px 50px #d83f1d;
    z-index: -100;
}

header {
    position: relative;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
}

header .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

header .content h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

header .content h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 700;
    line-height: 4rem;
}

header .content h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

header .content p {
    margin-bottom: 2rem;
    color: #ccc;
}

header .image {
    position: relative;
}

header .image::before {
    content: "o";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: 38rem;
    font-weight: 400;
    line-height: 20rem;
    color: #d83f1d;
    opacity: 0.2;
    z-index: -100;
}

header .image img {
    max-width: 600px;
    margin: auto;
}

.features {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.features .card {
    background-color: #27272a;
    padding: 1rem;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features .card:hover {
    background-color: #323232;
    border-color: #fff;
}

.features .card span {
    display: inline-block;
    background-color: #d83f1d;
    padding: 2px 9px;
    margin-bottom: 1rem;
    font-size: 1.75rem;
    color: #fff;
    border-radius: 5px;
}

.features .card h4 {
    margin-bottom: 0.5rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
}

.features .card p {
    color: #ccc;
    margin-bottom: 1rem;
}

.features .card a {
    color: #fff;
    transition: all 0.3s ease;
}

.features .card a:hover {
    color: #d83f1d;
}

.sub-header {
    max-width: 600px;
    margin: auto;
    text-align: center;
    color: #ccc;
}

.pricing {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.pricing .card {
    padding: 3rem 2rem;
    background-color: #27272a;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid transparent;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.pricing .card:hover {
    background-color: #323232;
    border-color: #fff;
}

.pricing .card .content {
    flex: 1;
    margin-bottom: 2rem;
}

.pricing .card h4 {
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
}

.pricing .card h3 {
    color: #fff;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    border-bottom: 2px solid #323232;
}

.pricing .card ul {
    margin-bottom: 2rem;
    color: #ccc;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer {
    padding: 4rem 2rem;
    background-color: #000;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.footer div {
    color: #ccc;
}

.footer h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer ul a {
    color: #ccc;
    transition: all 0.3s ease;
}

.footer ul a:hover {
    color: #fff;
}

.footer p {
    color: #ccc;
    line-height: 2;
}

.contact {
    padding: 5rem 2rem;
    text-align: center;
}

.contact header {
    margin-bottom: 5rem;
}

.contact header h4 {
    margin-bottom: 1rem;
    color: #ccc;
    font-size: 1rem;
    font-weight: 600;
}

.contact header h1 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 3rem;
}

.contact header h1 span {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #fff;
}

.contact .form-control {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    color: #ccc;
}

.contact .form-control input,
.contact .form-control textarea {
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #fff;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 15px;
    outline: none;
    transition: all 0.3s ease;
}

.contact .form-control input:hover,
.contact .form-control textarea:hover {
    border-color: #d83f1d;
}

.contact .form-control textarea {
    height: 200px;
    resize: none;
}

.contact .form-control button {
    padding: 1rem 3rem;
    color: #fff;
    background-color: #d83f1d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact .form-control button:hover {
    background-color: #8f0000;
}

.message {
    padding: 1rem 2rem;
    color: #fff;
    font-size: 1rem;
    background-color: #00b894;
    border-radius: 5px;
    display: none;
    justify-content: space-between;
    align-items: center;
}

.message span {
    font-size: 1.25rem;
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #1b1818;
        border-top: 1px solid #fff;
    }

    .nav-links.open {
        display: flex;
    }

    .nav-toggle {
        display: block;
    }

    header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    header .image {
        display: none;
    }

    .features, .pricing, .footer {
        grid-template-columns: 1fr;
    }
}

/* Media Queries for Smaller Devices */
@media (max-width: 480px) {
    header .content h1 {
        font-size: 2rem;
        line-height: 2.5rem;
    }

    header .content h4, header .content p {
        font-size: 0.875rem;
    }

    .btn {
        padding: 0.75rem 1.5rem;
        font-size: 0.875rem;
    }

    .features .card h4, .pricing .card h4 {
        font-size: 1rem;
    }

    .features .card span, .pricing .card h3 {
        font-size: 1.5rem;
    }

    /* Ensure buttons go to the bottom */
    .features .card, .pricing .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
